@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
* {
  background-color: #fdf4e0;
  font-family: 'Alata', sans-serif;
}
#app {
  margin: auto;
  width: 80%;
  border: 1px solid black;
  padding: 10px;
  text-align: center;

}
canvas {
  background-color: #eee;
  display: block;
  margin: 0 auto;
}